            * {
                margin: 0;
                padding: 0;
            }
            
            html {
                margin: 0;
                padding: 0;
            }
            
            body {
                width: 1024px;
                width: 100%;
                margin: 0 auto;
            }
            
            .nav-header {
                width: 100%;
                height: 40px;
                background: #F4F4F4;
            }
            
            .nav-container {
                float: right;
                margin-right: 60px;
            }
            
            .nav-list {
                display: inline-flex;
                flex-direction: row;
            }
            
            .nav-list li {
                list-style-type: none;
                display: flex;
            }
            
            .nav-list a {
                text-decoration: none;
                margin: 10px;
                font-family: 'Titillium Web', sans-serif;
                font-weight: 400;
                color: rgb(65, 64, 64);
            }
            
            .nav-list a:hover {
                color: rgb(151, 2, 2);
            }
            
            .name-container {
                width: 90%;
                border-bottom: 1px solid rgb(139, 108, 108);
                margin-left: 70px;
            }
            
            .name-container h1 {
                font-family: 'Titillium Web', sans-serif;
                font-weight: 500;
                color: rgb(65, 64, 64);
            }
            
            .picture {
                width: 300px;
            }
            
            .picture a {
                margin-left: 70px;
            }
            
            article {
                display: flex;
                justify-content: flex-start;
            }
            
            .picture img {
                border-radius: 1px;
                overflow: hidden;
                margin: 5px 0;
                width: 250px;
                height: 330px;
            }
            
            .skill-information {
                width: 500px;
                margin: 30px 30px;
            }
            
            .information-container p {
                font-family: 'Titillium Web', sans-serif;
                font-weight: 400;
                color: rgb(65, 64, 64);
            }
            
            .information-container b {
                font-family: 'Titillium Web', sans-serif;
                font-weight: 700;
                color: rgb(141, 140, 140);
            }
            
            #skills {
                margin-left: 70px;
                width: 90%;
                border-top: 1px solid rgb(139, 108, 108);
            }
            
            #skills h2 {
                font-family: 'Titillium Web', sans-serif;
                font-weight: 400;
                color: rgb(65, 64, 64);
            }
            
            #skills p {
                font-family: 'Titillium Web', sans-serif;
                color: rgb(65, 64, 64);
            }
            
            #skills a {
                text-decoration: none;
                color: rgb(65, 64, 64);
            }
            
            #contacts {
                margin-left: 70px;
                width: 90%;
                border-top: 1px solid rgb(139, 108, 108);
            }
            
            #contacts h2 {
                font-family: 'Titillium Web', sans-serif;
                font-weight: 400;
                color: rgb(65, 64, 64);
            }
            
            #contacts p {
                font-family: 'Titillium Web', sans-serif;
                color: rgb(65, 64, 64);
            }
            
            #contacts b {
                color: rgb(141, 140, 140);
            }